@import url("https://fonts.googleapis.com/css2?family=Lovers+Quarrel&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
}
.videoBackground {
  width: 100%;
  height: 100vh;
  position: relative;
}
/* video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
} */
.container {
  height: 250px;
  width: 250px;
  background-color: transparent;
  border: 5px solid black;
  border-radius: 50%;
  top: calc(50% - 125px);
  left: calc(50% - 125px);
  position: absolute;
  /* transform: translate(-50%, -50%); */
  z-index: 99;
  box-shadow: 10px 10px 50px 10px #f07979;
  animation-name: rotation;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 5s;
}
.container::after {
  content: "";
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  border: 1px solid transparent;
  background-color: black;
}
.container__piece {
  width: 100%;
  top: calc(50% - 10px);
  height: 20px;
  /* border: 2px solid black; */
  padding-left: 20px;
  text-align: left;
  position: absolute;
}
.container__piece::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  border-bottom: 2px solid black;
}
.container__piece:nth-child(1) {
  line-height: 100px;
  padding-left: 45x;
}
.container__piece:nth-child(2) {
  transform: rotate(70deg);
  line-height: 90px;
}
.container__piece:nth-child(3) {
  transform: rotate(115deg);
  line-height: 75px;
}
.container__piece:nth-child(4) {
  transform: rotate(130deg);
  line-height: 40px;
}
.container__piece:nth-child(5) {
  transform: rotate(180deg);
  line-height: 70px;
}
.container__piece:nth-child(6) {
  transform: rotate(280deg);
  line-height: 120px;
  padding-left: 45px;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.btnContainer {
  top: 85%;
  left: calc(50% - 72px);
  position: absolute;
}
.btn {

  position: relative;
  padding: 20px 30px;
  font-size: 36px;
  border: 1px solid black;
  font-family: "Lovers Quarrel", cursive;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  color: rgb(14, 10, 10);
  border-radius: 20px;
  overflow: hidden;
  /* background:linear-gradient(90deg,rgb(226, 133, 133),rgb(223, 66, 66)) */
}
span {
  position: absolute;
  background: #fff;
  pointer-events: none;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: animate 1s linear infinite;
}
@keyframes animate {
  0% {
    width: 0;
    height: 0;
    opacity: 0.5;
  }
  100% {
    width: 200px;
    height: 200px;
    opacity: 0;
  }
}
p{
  position: absolute;
  padding: 10px auto;
  left: calc(50% - 258px);
  text-transform: uppercase;
  font-size: 50px;
  font-family: "Lovers Quarrel", cursive;
}
/* modal */
.modal-container{
  width:600px;
  height: 300px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: absolute;
  background-image: url(./images/imageModel.gif);
  background-size: cover;
  background-position: center;
  display: none;
  opacity: 0.8;
  z-index: 1000;
}
#btnClose{
  padding:10px 20px;
  font-size: 20px;
  background-color: transparent;
  border:1px solid rgb(112, 62, 62);
  top: calc(100% - 50px);
  position: absolute;
  left: calc(100% - 100px);
  border-radius: 10px;
}
#btnClose:hover{
  background-color: #fff;
  opacity:0.3;
}
.modal-container>p{
  font-size: 40px;
  font-style: italic;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  color: rgb(247, 210, 210);
  font-family: 'Dancing Script', cursive;
  letter-spacing: 2px;
}
